.wave-island{
    width: 300px;
}
.wave-message {
    height: 300px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    padding-right: 50%;
    height: auto !important;
    color: #fff;
    font-size: 3rem;
    text-align: left;
}