.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
#patients-profile-content{
  margin-top: 2%;
}
#clinics_result{
  max-height: 600px;
  overflow: scroll;
}
#map-div{
  width: 500px!important;
  height: 400px;
}

@media only screen and (max-width: 600px) {
  #patients-profile-card-2{
    margin-top: 2%;
  }
  #image_map{
    width: 300px!important;
    height: 300px!important;
    
  }
  #map{
    width: 300px!important;
    height: 300px!important;

  }
}